html 
  head 
    title Apple 
    style 
      include mainPage.css
  body 
    #title Apple
    p 
      input(
        type='button'
        id='play'
        value='시 작'
        onClick="location.href='/game'"
    )
    p
      input(
        type='button'
        id='rank'
        value='랭 킹'
        onClick="location.href='/rank'"
    )
    script